@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{ /*local onde definimos as variaveis com valores e podemos colocar no projeto todo*/
    --cor--preta: black;
    --cor--branca: white;
    --cor--vermelha:#C5160B;
    --cor--hover:#272727;

    --fonte--primaria: 'Krona One', sans-serif;
    --fonte_secundaria: 'Montserrat', sans-serif;
}

*{/*quando queremos colocar uma infomração para todos*/
    margin: 0;
    padding: 0;
}
body{
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor--preta);
    color: var(--cor--branca);
}
.titulo-destaque{
    color: var(--cor--vermelha);
}

.apresentacao_imagem{
    /* width: 28.12rem; */
    width: 35%;
    border-radius: 1.25rem;
}
.apresentacao{
    padding: 5.5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.apresentacao__conteudo{
    width: 50%;/*635*/
    display: flex;
    flex-direction: column;
    gap: 1.87rem;
}
.apresentacao__conteudo__titulo{
    font-weight: bold;
    font-family: var(--fonte--primaria);
    font-style: italic;
    font-size: 1.80rem;/*o REM equivale a 16px, ou seja, temos que dividir o pixel por 16 para termos o REM*/
}
.apresentacao__conteudo__texto{
    font-weight: bold;
    font-family: var(--fonte_secundaria);
    font-style: italic;
    font-size: 1.18rem;
    text-align: justify-all;
}
.apresentacao__links{
/*quando criamos um display: flex; automaticamente informamos que ficara na posição ROW (linha), 
ou seja, para ser em coluna precisamos colocar o flex-direction: column;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*align-items tem como função de centralizar os elementos de forma vertical (por causa do flex-direction: column)*/
    align-items: center;
    gap: 1rem; /*gap tem como função de colocar espaçamento entre os elementos*/
}

.apresentacao__links_navegacao{
    /* background-color: #C5160B; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 0.125rem solid var(--cor--vermelha);
    width: 55%;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    padding: 15px 0; /*1° valor é vertical e o 2° é horizontal*/
    font-family: var(--fonte_secundaria);
    text-decoration: none;
}
.apresentacao__links_link:hover{
    background-color: var(--cor--hover);
    color: var(--cor--vermelha);
    font-style: italic;
    font-weight: bold;
}

.apresentacao__links__subtitulos{
    font-family: var(--fonte--primaria);
    font-weight: 400;
    font-size: 1.25rem;
}
.apresentacao__conteudo__subtitulo{
    font-weight: normal;
    text-decoration: underline;
    font-family: var(--fonte--primaria);
    font-size: 1.06rem;
    color: var(--cor--vermelha);
}
.Rodape{
    padding: 1.5rem;
    color: var(--cor--preta);
    background-color: var(--cor--vermelha);
    text-align: center;
    font-family: var(--fonte_secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
.Cabecalho{
    padding: 5% 0% 0% 10%;   
}
.Cabecalho__menu{
    display: flex;
    gap: 5rem;
}
.Cabecalho__menu__link{
    font-family: var(--fonte_secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor--vermelha);
    text-decoration: none;
}
.Cabecalho__menu__link:hover{
    color: var(--cor--branca);
}
@media (max-width: 1100px){
    .Cabecalho {
        padding: 12%;
    }
    .Cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 10%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}